.results {
  background-color: #b3b3b32e;
  width: inherit;
}

.results-name {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 2em;
}

.results-score {
  text-align: center;
  font-weight: bold;
  padding: 0em 1em;
  margin-top: 0;
  font-size: 3.8em;
}